/* Général */

* { /* "*" Permet de prendre tout du fichier html, on met ensuite les valeurs à 0 pour que tout colle (qu'il n'y est pas d'espace blanc sur les cotés) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* Création de variables de couleurs pour toujours garder les mêmes sans se tromper */
:root{
    --body-blue: #02202f;
    --body-blue-hover: #044160;
    --body-white: #fff;
    --body-black: #000;
    --body-orange: #F49B6C;
    --body-orange-hover: #D1784E;
    --header-orange: #f38e59;
    --main-blue: #5BB5DE;
    --main-grey: #333;
    --footer-darkgrey: #404040;
    --footer-darkergrey: #333;
}    

a{ /* Je prends tous les liens du fichier (plus rapide) */
    text-decoration: none; /* et je modifie le style basique des liens (qui est souligné)*/
}

/* Animation Menu */
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
} 

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
} 
/* Fin Animation Menu */

/* Fin Général */

/* --------------------------------------------------------------------------------------------------------------- */

/* Header */

header{
    background-color: var(--header-orange);
}

header a{
    color: var(--main-black);
}


 nav{ /* Ma nav regroupe les liens de la barre du menu (tout en haut de la page) */
    display: flex; /* display flex => si on ne précise pas le "flex-direction" c'est qu'il est en row */
    align-items: center; /* "align-items" aligne les objets sur l'axe secondaire */
    padding: 1% 9%; /*  le padding prend de l'espace dans la boite. La 1ère valeur: haut et bas, la 2ème : gauche et droit */
    position: fixed; /* Pour fixer la barre en haut même si on scroll en bas */
    background-color: var(--header-orange);
    width: 100%;
    justify-content: space-between;
}

nav a{
    color: var(--body-white);
}

.linkLeft{
    margin-right: 4%;
}

.linksLeft, .linksMiddle, .linksRight{
    display: flex;
    align-items: center;
}

.dropdownMenu{
    margin: 1% 4%;
    position: relative;
    display: inline-block;
}

.childLinks{
    padding: 16px;
    font-size: 16px;
}

.linksMiddle a:hover{
    background-color: var(--body-white);
    color: var(--body-black);
    transition: 0.5s;
}

.navBtn{
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    margin: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 5px;
}

.left{
    width: 200px;
    background-color: var(--body-blue);
}

.left:hover{
    background-color: var(--body-blue-hover);
    transition: 0.5s;
}

.right{
    width: 100px;
    border: solid var(--body-white) 2px;
}

.right:hover{
    background-color: #ffffff33;
    transition: 0.5s;
}

.burger{
    display: none;
    width: 55px;
    height: 50px;
    padding: 2%;
    border: solid 1px white;
    margin-left: 2%;
    border-radius: 8px;
    cursor: pointer;
}

.closeButton{
    width: 50px;
    float: right;
    border: solid 1px white;
    border-radius: 6px;
    margin: 2%;
    cursor: pointer;
}

.sideMenu{
    display: none;
    position: absolute;
    background-color: #3292c6e1;
    width: 100%;
    height: 410%;
}

.sideMenuLinks{
    display: none;
    flex-direction: column;
    position: relative;
    background-color: var(--body-white);
    margin-top: 15%;
}

.sideMenuLinks a{
    color: var(--body-black);
    text-align: center;
    padding: 4% 0;
    font-size: 23px;
    font-weight: normal;
}

.sideMenuLinks i{
    font-size: 15px;
}

.sideMenuLinksChild{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--body-white);
    width: -webkit-fill-available;
    z-index: 1;
}

.back {
    margin-right: 85%;
}

.back i{
    font-size: 12px;
}

header h1, header h2{
    text-align: center;
}

header h1{
    padding-top: 15%;
    font-size: 70px;
    color: var(--body-white);
}

header h2{
    font-size: 20px;
    font-weight: lighter;
    padding: 1% 0 6% 0;
}

/* Animation Hover Menu */
.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--body-white);
    min-width: 160px;
    z-index: 1;
    margin-top: 7%;
}

.dropdown-content a{
    color: var(--body-black);
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover{
    color: #7c7a7a !important;
    transition: 0.5s;
}

.dropdownMenu:hover .dropdown-content {
    display: block;
}
/* Fin Animation Hover Menu */

/* Fin Header */

/* --------------------------------------------------------------------------------------------------------------- */

/* Main */

main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 6%;
    color: var(--main-grey);
}

.secondSection a{
    color: var(--body-orange);
}

.firstSection, .secondSection{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 2%;
}

.firstSection h2, .secondSection h2{
    color: var(--main-blue);
    font-size: 30px;
    padding-bottom: 3%;
}

.firstParagraph{
    line-height: 1.5rem;
    padding-bottom: 10%;
    font-size: 19px;
    font-weight: lighter;
}

.form{
    display: flex;
    flex-direction: column;
}

.form input, .form textarea{
    margin-bottom: 5%;
    padding: 2.5%;
    border-radius: 6px;
    border: solid 1px #b4b1b1;
}

.form input::placeholder, .form textarea::placeholder{
    font-style: italic;
    color: #c5c2c2;
    font-size: 15px;
    font-weight: lighter;
}

.form button{
    background-color: var(--body-orange);
    cursor: pointer;
    border: none;
    color: var(--body-white);
    border-radius: 6px;
    padding: 4% 0;
    width: 24%;
    margin-left: 76%;
    font-weight: bold;
}

.form button:hover{
    background-color: var(--body-orange-hover);
    transition: 0.5s;
}

.secondSection h3{
    font-size: 27px;
    font-weight: normal;
    padding: 2% 0 4% 0;
}

.secondSectionIcons{
    display: flex;
    align-items: center;
    padding-bottom: 8%;
}

.secondSectionIcons img{
    padding-right: 3%;
}

.secondSectionIcons p{
    font-size: 20px;
    font-weight: lighter;
}
/* Fin Main */

/* --------------------------------------------------------------------------------------------------------------- */

/* Footer */

footer{
    font-weight: lighter;
    font-size: 14px;
}

footer h3{
    color: var(--body-white);
    font-weight: lighter;
}

.footerTop{
    background-color: var(--footer-darkgrey);
    display: flex;
    justify-content: space-evenly;
    padding: 3% 6%;
}

.footerLinksColumn{
    width: 20%;
}

.footerLinksColumn .footerLinks{
    width: 100% !important;
}

.footerLinks{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.footerLinks h3{
    padding-bottom: 5%;
}

.footerLinks a{
    color: #a09e9e;
    padding-bottom: 6%;
}

.footerLinks a:hover{
    color: var(--body-orange);
    transition: 0.5s;
}

.footerLinks p{
    width: 100%;
    color: #a09e9e;
    line-height: 1.4rem;
    padding-bottom: 5%;
}

.icons a{
    color: var(--body-orange);
    font-size: 22px;
    padding-right: 3%;
}

.icons a:hover{
    color: var(--body-orange-hover);
    transition: 0.5s;
}

.footerBtnLink{
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    background-color: var(--body-blue);
    padding: 8% 15% !important;
    color: var(--body-white) !important;
}

.footerBtnLink:hover{
    background-color: var(--body-blue-hover);
    transition: 0.5s;
}

.footerBottom{
    background-color: var(--footer-darkergrey);
}

.footerBottom h4{
    color: #a09e9e;
    font-weight: lighter;
    padding: 1% 10%;
}

.footerBottom a{
    color: var(--body-orange);
}

.footerBottom a:hover{
    color: var(--body-orange-hover);
    transition: 0.5s;
}

/* Fin Footer */

/* --------------------------------------------------------------------------------------------------------------- */

/* Breaking point 1235px pour la nav */
/* Responsive */
@media screen and (max-width: 1235px){
    nav{
        padding: 1% 2%;
    }
    
    .linksMiddle{
        display: none;
    }

    .burger{
        display: flex;
    }

    main{
        padding: 6% 0;
    }

    .footerTop{
        padding: 3% 2%;
    }

    .footerBottom h4{
        padding: 1%;
    }

}

/* Breaking point 1024px */
@media screen and (max-width: 1024px){
    header h1{
        padding-top: 20%;
        font-size: 50px;
    }
    header h2{
        font-size: 15px;
    }
    .footerBtnLink {
        width: 150px;
        padding: 10% 16% !important;
    }
}

/* Breaking point 800px */
@media screen and (max-width: 800px){
    main{
        flex-direction: column;
    }

    .firstSection, .secondSection{
        width: 100%;
    }

    .footerTop{
        flex-direction: column;
        justify-content: center;
        padding: 3%;
        text-align: center;
    }

    .footerLinks, .footerLinksColumn{
        width: 100%;
        display: inline-block;
    }

    .footerLinks h3{
        padding: 5% 0 1% 0;
    }

    .footerLinks a {
        padding: 0 1%;
        font-size: 11px;
    }

    .icons a{
        font-size: 40px;
    }

    .last{
        display: none;
    }

}

/* Iphone 6/7/8 PLUS */
@media screen and (max-width: 414px){
    nav{
        position: unset;
        padding: 3% 4%;
    }

    .linkLeft img{
        width: 100px;
    }

    .right{
        display: none;
    }

    header h1 {
        font-size: 35px;
        padding-bottom: 3%;
    }

    header h2 {
        font-size: 16px;
        padding-bottom: 10%;
    }

    .firstSection, .secondSection {
        padding: 7% 5%;
    }

    .firstSection h2, .secondSection h2 {
        font-size: 20px;
    }

    .firstParagraph {
        line-height: 1.8rem;
        font-size: 18px;
    }

    .form input, .form textarea {
        margin-bottom: 7%;
        padding: 3%;
    }

    .form button {
        width: 100%;
        margin: auto;
        padding: 6% 0;
    }

    .secondSection h3 {
        font-size: 22px;
    }

    .secondSectionIcons p {
        font-size: 19px;
        line-height: 1.7rem;
    }

    .footerBottom h4 {
        padding: 2%;
        text-align: center;
    }
}

/* Iphone 5 SE */
@media screen and (max-width: 320px){
.left {
    width: 130px;
}

.navBtn {
    font-size: 10px;
    padding: 8px 5px;
}
}
/* Fin Responsive */